@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}<br /><br />
    <p>
        <a href="/do" class="btn btn-info" role="button">View</a>
        <a href="/do/Create" class="btn btn-info" role="button">Create New</a>
    </p>